<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kiwi AI 🦜</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="app">

        <header>
            <div class="logo">🦜</div>

            <div>
                <h1>Kiwi AI</h1>
                <p>Tu agapornis inteligente</p>
            </div>
        </header>

        <main id="chat">

            <div class="mensaje kiwi">

                <div class="avatar">🦜</div>

                <div class="burbuja">
                    ¡Hola! 👋<br><br>
                    Soy Kiwi AI.<br>
                    ¡Escríbeme algo!
                </div>

            </div>

        </main>

        <form id="formulario">

            <input
                id="mensaje"
                type="text"
                placeholder="Escribe un mensaje..."
                autocomplete="off"
            >

            <button type="submit">➤</button>

        </form>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>